*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body{
    background-color: rgb(4, 4, 73);
}

#mynav{
    display: flex;
    align-items: center;
    padding: 12px 40px;
    justify-content: space-between;
    background-color: #403f42;
    position: relative;
}

.logo{
    width: 60px;
    height: auto;
}

#bar{
   list-style: none;
    display: flex;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

#bar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#bar li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}


#bar li a:hover,
#bar li a.active{
    text-decoration: none;
    background-color:#e26a08;
    padding:8px;
}

#bar li a.active::after,
#bar li a:hover::after{
content: "";
width: 30%;
height: 2px;
position: absolute;
bottom: -4px;
left: 20px;
}

.coursel{
    padding: 2rem;

}

.slider{
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.slides{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slides img{
    flex: 1 0 100%;
}

.myslider{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.myslider a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.myslider a:hover{
    opacity: 1;
}

.btn{
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 2;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

#new{
      text-align: center;
      margin:8px;
}

#new h2{
  color:white;
}

#new .box{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin:2px;
    flex-wrap: wrap;
}

#new .product{
   width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #9512bd;
    border: 1px solid #89e496;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#new .product:hover{
      box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#new .product img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#new .product .description{
   text-align: start;
    padding: 10px 0;
}

#new .product .description span{
   color:#60f14d;
    font-size: 12px;
}

#new .product .description h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#f0f5ee
}

#new .product .description h5{
  margin-top:5px;
   margin-bottom:7px;
    color: #cfbdbd;
    font-size: 14px;
}

#new .product .description button{
  font-size: 14px;    
font-weight: 600;
padding: 15px 30px;
color: black;
background-color: rgb(31, 194, 58);
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
}

#new .product .description button:hover{
   background-color: rgb(90, 250, 90);
   font-weight:bold;
    color: white;
}


#new1{
      text-align: center;
      margin-top:18px;
      margin:8px;
}

#new1 h2{
  color:white;
}

#new1 .box{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin:2px;
    flex-wrap: wrap;
}

#new1 .product{
   width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background-color: #9512bd;
    border: 1px solid #89e496;
    border-radius: 25px;
    cursor:pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#new1 .product:hover{
      box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#new1 .product img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

#new1 .product .description{
   text-align: start;
    padding: 10px 0;
}

#new1 .product .description span{
   color:#60f14d;
    font-size: 12px;
}

#new1 .product .description h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#f0f5ee
}

#new1 .product .description h5{
  margin-top:5px;
   margin-bottom:7px;
    color: #cfbdbd;
    font-size: 14px;
}

#new1 .product .description button{
  font-size: 14px;    
font-weight: 600;
padding: 15px 30px;
color: black;
background-color: rgb(31, 194, 58);
border-radius: 4px;
cursor: pointer;
border: none;
outline: none;
}

#new1 .product .description button:hover{
   background-color: rgb(90, 250, 90);
   font-weight:bold;
    color: white;
}

#last{
  text-align: center;
  background-color: #403f42;
  color: white;
  padding:10px;
}

#last h3,h4{
  margin:12px;
 font-size:16px;
}