{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otaku Mart</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Navbar -->
  <header class="navbar">
    <img src="{% static 'images/logo.jpg' %}" class="logo" alt="Otaku Mart">
    <nav>
      <ul class="nav-links">
        <li><a class="active" href="index.html">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
      </ul>
    </nav>
  </header>

  <section class="carousel">
    <div class="slider">
      <img src="{% static 'images/aot.jpg' %}" alt="Aot">
      <img src="{% static 'images/yor.jpg' %}" alt="Yor">
      <img src="{% static 'images/chainsawman.jpg' %}" alt="Chainsawman">
     
    </div>
  </section>

  <section class="product-section">
    <h2>New Arrivals</h2>
    <div class="products">
      <div class="product">
        <img src="{% static 'prouctimg/zoro.jpg' %}" alt="Zoro">
        <h4>Zoro Action Figure</h4>
        <p>Rs.1300</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img src="{% static 'prouctimg/gojo.jpg' %}" alt="Gojo">
        <h4>Gojo Action Figure</h4>
        <p>Rs.1350</p>
        <button>Add to cart</button>
      </div>
      <div class="product">
        <img src="{% static 'prouctimg/kakashi.jpg' %}" alt="Kakashi">
        <h4>Kakashi Action Figure</h4>
        <p>Rs.1150</p>
        <button>Add to cart</button>
      </div>
    </div>
  </section>

  <footer class="footer">
    <p>📞 9847225678 | 📍 Chyasal, Lalitpur | ✉️ otaku_mart677@gmail.com</p>
  </footer>
</body>
</html>
