body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

.navbar {
    width: 100%;
    background: #2d2f36;
    color: white;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 10px;
}

#toggleBtn {
    font-size: 24px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;   
    gap: 15px;            
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
}

.nav-right a:hover {
    text-decoration: underline;
}

.sidebar {
    width: 220px;
    background: #1f2125;
    height: 100vh;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #fff;
    transition: background 0.2s;
}

.menu-item:hover {
    background: #2b2b44;
}

.menu-item .icon {
    margin-right: 12px;
    font-size: 18px;
}

.sidebar.collapse {
    width: 65px;
}

.sidebar.collapse .text {
    display: none;
}

.content {
    margin-left: 220px;
    padding: 100px 30px;
    transition: 0.4s;
    
}

.content.collapse {
    margin-left: 65px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card1{
    background: rgb(48, 189, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card2{
    background: rgb(90, 244, 59);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card3{
background: rgb(238, 243, 97);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card4{
    background: rgb(244, 86, 86);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
    transform: translateY(-5px);
}

.card-icon1, .card-icon2, .card-icon3, .card-icon4 {
    font-size: 35px;
    margin-bottom: 10px;
}

.chart-row-fixed {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.chart-card-fixed {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.chart-card-fixed h3 {
    margin-bottom: 15px;
    text-align: center;
}


